{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": false,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrder": ["^@core/(.*)$", "^@graphql/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
